{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h1 class="card-title text-center">Connexion</h1>
                            <form class="form-signin" method="POST">
                                {% if app.user %}
                                <div class="mb-3 alert alert-danger">
                                    Vous êtes deja connecté en tant que {{ app.user.pseudo }}, <a class="text-primary"
                                        href="{{ path('app_logout') }}">Deconnexion</a></p>
                                </div>
                                {% else %}
                                    {{ form_start(loginForm) }}
                                    <div class="form-label-group">
                                        {{ form_row(loginForm.email)}}
                                    </div>
                                    <div class="form-label-group">
                                        {{ form_row(loginForm.password)}}
                                    </div>
                                    <hr class="my-2">
                                    {{ form_row(loginForm.login)}}
                                    <p class="d-block text-center mt-2 small">Pas de compte ? <a href="{{ path('app_register') }}">Cliquez ici pour en créer un</a>
                                    </p>
                                    {{ form_end(loginForm) }}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}