{# pages/discover.html.twig #}
{% extends "base.html.twig" %}
{% block title %}Discover {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="heading">
            <h2>Découvrir</h2>
        </div>
        <div class="container">
            <h2>Films populaires</h2>
            <div class="row" id="popular-movies"></div>
        </div>
        <div class="container">
            <hr>
            <h2>Séries populaires</h2>
            <div class="row" id="popular-shows"></div>
    </section>
</main>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/api/tmdb_api.js') }} "></script>
<script src="{{ asset('js/api/tmdb_api_calls.js') }}"></script>
<script src="{{ asset('js/display/display.js') }} "></script>
<script src="{{ asset('js/display/add_list_form.js') }}"></script>
<script>

    isLogged = {{ (app.user is not empty) ? 'true' : 'false' }};

    {% if app.user is not empty %}

        userId = {{ app.user.id }};

    {% endif %}

    formCheckPath = '{{ path('form_check') }}';


    homePage(isLogged);

</script>
{% endblock %}