{% extends "base.html.twig" %}
{% block title %} {% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}


{% set i = 1 %}
<main class="page projects-page">
    <section class="portfolio-block photography my-3 py-2">
        <h1 class="text-center">Mes watchlists</h1>
    </section>
    <section class="portfolio-block photography">
        <div class="row no-gutters">
            
            <div class="offset-3 col-md-6">
                <!-- Synopsis -->
                <h2 class="text-center mt-5">Complétés</h2>
                
                <table class="table table-bordered rounded-lg">
                  
                    <thead class="bg-info">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Titre</th>
                          <th scope="col">Score</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for media in watchlist.m %}
                             {% if media.status == "completed" %}
                               <tr>
                                  <th scope="row">{{ i }}</th>
                                  <td>{{media.title}}</td>
                                  <td>{{media.score / 10}}</td>
                                </tr>
                                {% set i = i + 1 %}
                             {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

                {% set i = 1 %}
                <h2 class="text-center mt-5">Abandonnés</h2>
                
                <table class="table table-bordered rounded-lg">
                  
                    <thead class="bg-info">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Titre</th>
                          <th scope="col">Score</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for media in watchlist.m %}
                             {% if media.status == "dropped" %}
                               <tr>
                                  <th scope="row"> {{ i }} </th>
                                  <td>{{media.title}}</td>
                                  <td>{{media.score / 10}}</td>
                                </tr>
                             {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                    </tbody>
                </table>

                {% set i = 1 %}


                <h2 class="text-center mt-5">A regarder plus tard</h2>
                <table class="table table-bordered rounded-lg">
                  
                    <thead class="bg-info">
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Titre</th>
                          <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for media in watchlist.m %}
                             {% if media.status == "plan_to_watch" %}
                               <tr>
                                  <th scope="row">{{i}}</th>
                                  <td>{{media.title}}</td>
                                  <td>{{media.score / 10}}</td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block javascripts %}{% endblock %}