{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="page projects-page">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    {% for message in app.flashes('success') %}
                                <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body">
                            <h2 class="card-title text-center">Demande de contact</h2>
                            <form class="form-signin" method="POST">
                                {{ form_start(contactForm) }}
                                <div class="form-label-group">
                                    {{ form_row(contactForm.fullName, {
                                        'label': 'Nom complet',
                                        'attr': {'placeholder': 'ex : Jean Dupont'}
                                        })
                                    }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(contactForm.fromEmail, {
                                        'label': 'Adresse Email',
                                        'attr': {'placeholder': 'ex : jean.dupont@gmail.com'}
                                        })
                                    }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(contactForm.message, {
                                        'label': 'Message ',
                                        'attr': {'placeholder': 'Votre message ici...'}
                                        })
                                    }}
                                </div>
                                {{ form_end(contactForm) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}