<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Movilist</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ asset('css//bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {% block stylesheets %}{% endblock %}

</head>

<body>
    <header>
        {% set route = app.request.attributes.get('_route') %}
        <nav id="main-navbar" class="navbar navbar-expand-md navbar-dark gradient-nav">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if route == 'home' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item{% if route == 'search' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('search') }}">Rechercher</a>
                    </li>
                    <form class="form-inline" action="{{ path('search') }}" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un film, série... " aria-label="Rechercher" name="s">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}"
                        class="d-inline-block align-top mr-2" id="logo" alt=""></a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
                    <span class="sr-only">Dérouler Menu</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class='menu_text'>Mon compte</span><img src="{{ asset('img/user_img/'~ app.user.avatarPath ) }}"></img>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item{% if route == 'profile' %} active{% endif %}"
                                href="{{ path('profile') }}">Mon Compte</a>
                            </a>
                            <a class="dropdown-item{% if route == 'watchlist' %} active{% endif %}"
                                href="{{ path('watchlist', {id: app.user.id}) }}">Mes Watchlists</a>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger{% if route == 'app_logout' %} active{% endif %}"
                                href="{{ path('app_logout') }}">Deconnexion</a>
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item{% if route == 'app_login' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item{% if route == 'app_register' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid ">

        {% block body %}{% endblock %}
    </div>
    <footer class="footer-bs gradient">
        <div class="row">
            <div class="col-md-4 offset-md-1 footer-brand animated fadeInLeft">
                <img src="{{ asset('img/logo.png') }}"
                    class="d-inline-block align-top mr-2" id="logo" alt="">
                <p>Movilist est un site permettant de se tenir informé des derniers films ou des dernières séries sortis. Vous pouvez aussi rechercher des personnalités liées à des tournages. Le but de ce site, est aussi de vous faire découvrir de nouvelles choses, grâce à notre moteur de recommendations. Faites votre watchlist et voyez le résultat ! </p>
                <p>© 2019 Movilist, Tout droits réservés</p>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                    <ul class="list footer">
                        <li class="nav-item{% if route == 'home' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item{% if route == 'search' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('search') }}">Rechercher</a>
                        </li>
                        {% if app.user %}
                        <li class="nav-item{% if route == 'profile' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('profile') }}">Mon compte</a>
                        </li>
                        <li class="nav-item{% if route == 'profile' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('watchlist', {id: app.user.id}) }}">Mes watchlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                        {% else %}
                        <li class="nav-item{% if route == 'app_login' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item{% if route == 'app_register' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        {% endif %}
                        <li class="nav-item{% if route == 'contact' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('contact') }}">Contactez-nous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('t&c') }}">Termes et conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('policy') }}">Politique de confidentialité</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Suivez-nous :</h4>
                <ul>
                    <li><a class="btn-link " href="https://fr-fr.facebook.com/zuck"><i class="fab fa-facebook"></i>  Facebook</a></li>
                    <li><a class="btn-link " href="https://twitter.com/Twitter"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a class="btn-link " href="https://www.instagram.com/instagram/?hl=fr"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% block footer %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}

</body>

</html>